mule-bpm-module/src/test/resources/test-mule-task-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <bpm:config name="engineConfig" tenantId="com.alfame.esb">
        <bpm:data-source>
            <bpm:generic-data-source driverClassName="org.hsqldb.jdbcDriver"
                                     jdbcUrl="jdbc:hsqldb:mem:flowable"
                                     username="sa"
                                     password="sa"
                                     type="HSQL"/>
        </bpm:data-source>
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/AnxiousProcess.bpmn20.xml"/>
            <bpm:classpath-definition resourceClasspath="processes/AnxiousAsyncProcess.bpmn20.xml"/>
        </bpm:definitions>
        <bpm:async-executor-factory>
            <bpm:default-async-executor-factory asyncFailedJobWaitTimeInSeconds="3"/>
        </bpm:async-executor-factory>
    </bpm:config>

    <flow name="bpmListenerSuccessTestFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://some.success.test.queue"/>

        <logger level="INFO" message="#[payload]"/>
        <logger level="INFO" message="#[attributes]"/>

        <set-payload value="BEFORE_SUCCESS"/>
    </flow>

    <flow name="bpmListenerErrorTestFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://some.error.test.queue"/>

        <set-payload value="BEFORE_ERROR"/>

        <raise-error type="ANY" description="SOME_TEST_ERROR"/>
        <error-handler>
            <on-error-propagate>
                <set-payload value="#[error.description]"/>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="longRunningTaskFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://long.running.task" transactionalAction="ALWAYS_BEGIN"/>

        <logger level="INFO" message="#[%dw 2.0
import * from dw::Runtime
output application/json
---
{ 'message' : 'HEIHEI' } wait 2000]"/>

        <error-handler name="loggingErrorHandler">
            <on-error-continue>
                <logger level="INFO" message="MOIMOI"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
