mule-bpm-module/src/test/resources/test-multi-tenancy-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <bpm:config name="engineConfig" tenantId="com.alfame.esb">
        <bpm:data-source>
            <bpm:generic-data-source driverClassName="org.hsqldb.jdbcDriver"
                                     jdbcUrl="jdbc:hsqldb:mem:flowable"
                                     username="sa"
                                     password="sa"
                                     type="HSQL"/>
        </bpm:data-source>
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/TestProcess.bpmn20.xml"/>
        </bpm:definitions>
        <bpm:async-executor-factory>
            <bpm:default-async-executor-factory/>
        </bpm:async-executor-factory>
    </bpm:config>

    <bpm:config name="otherEngineConfig" tenantId="com.alfame.esb.other">
        <bpm:data-source>
            <bpm:generic-data-source driverClassName="org.hsqldb.jdbcDriver"
                                     jdbcUrl="jdbc:hsqldb:mem:flowable"
                                     username="sa"
                                     password="sa"
                                     type="HSQL"/>
        </bpm:data-source>
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/TestProcess.bpmn20.xml"/>
        </bpm:definitions>
        <bpm:async-executor-factory>
            <bpm:default-async-executor-factory/>
        </bpm:async-executor-factory>
    </bpm:config>

    <flow name="testTaskFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://test.task"/>

        <logger level="INFO" message="#[payload]"/>

        <set-payload value="true"/>
    </flow>

</mule>
