mule-bpm-module/src/test/resources/test-process-instance-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <bpm:config name="engineConfig" tenantId="com.alfame.esb">
        <bpm:data-source>
            <bpm:generic-data-source driverClassName="org.h2.Driver"
                                     jdbcUrl="jdbc:h2:mem:flowable;DB_CLOSE_DELAY=-1"
                                     username="sa"
                                     password="sa"
                                     type="H2"/>
        </bpm:data-source>
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/TestProcess.bpmn20.xml"/>
        </bpm:definitions>
        <bpm:async-executor>
            <bpm:default-async-executor/>
        </bpm:async-executor>
    </bpm:config>

    <flow name="startTestProcessFlow">
        <bpm:event-subscription-builder config-ref="engineConfig" target="eventSubscription">
            <bpm:event-filters>
                <bpm:process-definition-filter key="testProcess"/>
                <bpm:variable-filter variableName="factory-variable2"/>
            </bpm:event-filters>
        </bpm:event-subscription-builder>

        <bpm:process-factory config-ref="engineConfig" processDefinitionKey="testProcess" tenantId="com.alfame.esb">
            <bpm:process-variables>
                <bpm:process-variable variableName="factory-variable" value="#[1 + 2]"/>
                <bpm:process-variable variableName="factory-variable2" value="#['a value']"/>
            </bpm:process-variables>
        </bpm:process-factory>

        <logger level="INFO" message="#[payload]"/>

        <bpm:wait-for-events config-ref="engineConfig" subscription="#[vars.eventSubscription]" numberOfEvents="4"
                             target="events"/>
        <foreach collection="#[vars.events]" counterVariableName="eventIndex">
            <logger level="INFO" message="Event ##[vars.eventIndex] #[payload]"/>
        </foreach>

        <bpm:get-events config-ref="engineConfig" subscription="#[vars.eventSubscription]" target="events">
            <bpm:event-filters>
                <bpm:process-definition-filter key="testProcess"/>
            </bpm:event-filters>
        </bpm:get-events>
        <foreach collection="#[vars.events]" counterVariableName="eventIndex">
            <logger level="INFO" message="Event ##[vars.eventIndex] #[payload]"/>
        </foreach>

        <bpm:get-unique-event config-ref="engineConfig" subscription="#[vars.eventSubscription]" target="event">
            <bpm:event-filters>
                <bpm:process-definition-filter key="testProcess"/>
                <bpm:event-type-filter eventType="PROCESS_INSTANCE_ENDED"/>
            </bpm:event-filters>
        </bpm:get-unique-event>
        <logger level="INFO" message="Event #[vars.event]"/>
    </flow>

    <flow name="testTaskFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://test.task"/>

        <logger level="INFO" message="#[payload]"/>

        <set-payload value="true"/>
    </flow>

</mule>
