mule-bpm-module/src/test/resources/test-events-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <bpm:config name="engineConfig" tenantId="com.alfame.esb">
        <bpm:data-source>
            <bpm:generic-data-source driverClassName="org.hsqldb.jdbcDriver"
                                     jdbcUrl="jdbc:hsqldb:mem:flowable"
                                     username="sa"
                                     password="sa"
                                     type="HSQL"/>
        </bpm:data-source>
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/VariableProcess.bpmn20.xml"/>
            <bpm:classpath-definition resourceClasspath="forms/TryAgain.form"/>
        </bpm:definitions>
        <bpm:async-executor-factory>
            <bpm:default-async-executor-factory/>
        </bpm:async-executor-factory>
    </bpm:config>

    <flow name="modifyVariablesTaskFlow">
        <bpm:task-listener config-ref="engineConfig" endpointUrl="bpm://modify.variables" transactionType="LOCAL" transactionalAction="ALWAYS_BEGIN"/>

        <bpm:get-variable config-ref="engineConfig" variableName="inputVariable" target="inputVariable"/>

        <bpm:remove-variable config-ref="engineConfig" variableName="inputVariable"/>

        <bpm:set-variable config-ref="engineConfig" variableName="outputVariable">
            <bpm:variable-content>#[vars.inputVariable + 1]</bpm:variable-content>
        </bpm:set-variable>

        <raise-error type="ANY" description="SOME_TEST_ERROR"/>
    </flow>

    <flow name="handleProcessEventFlow">
        <bpm:event-listener config-ref="engineConfig">
            <bpm:event-filters>
                <bpm:event-type-filter eventType="PROCESS_INSTANCE_CREATED" />
                <bpm:event-type-filter eventType="PROCESS_INSTANCE_ENDED" />
                <bpm:process-definition-filter key="variableProcess"/>
            </bpm:event-filters>
        </bpm:event-listener>

        <logger level="INFO" message="" />
        <logger level="INFO" message="#[payload.processInstanceId]" />
    </flow>

    <flow name="handleTaskEventFlow">
        <bpm:event-listener config-ref="engineConfig">
            <bpm:event-filters>
                <bpm:event-type-filter eventType="TASK_CREATED" />
                <bpm:process-definition-filter key="variableProcess"/>
            </bpm:event-filters>
        </bpm:event-listener>

        <logger level="INFO" message="" />
        <logger level="INFO" message="#[payload.description]" />
    </flow>

    <flow name="handleTaskCompletionEventFlow">
        <bpm:event-listener config-ref="engineConfig">
            <bpm:event-filters>
                <bpm:event-type-filter eventType="TASK_COMPLETED" />
                <bpm:process-definition-filter key="variableProcess"/>
            </bpm:event-filters>
        </bpm:event-listener>

        <logger level="INFO" message="" />
        <logger level="INFO" message="#[payload.description]" />
    </flow>
</mule>
