test-mule-app/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm" 
xmlns="http://www.mulesoft.org/schema/mule/core" 
xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
xmlns:http="http://www.mulesoft.org/schema/mule/http" 
xmlns:spring="http://www.mulesoft.org/schema/mule/spring" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
	http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">
    <spring:config name="springConfig" files="beans.xml" />
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" raml="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Bad request&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="400" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Not found&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Resource not found&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="405" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Not acceptable&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="406" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Unsupported media type&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="415" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Not implemented&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="501" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <set-payload value="#[      output application/json      ---      {       &quot;message&quot;: &quot;Resource not found&quot;      }     ]" />
                <set-variable variableName="httpStatus" value="404" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\test:api-config">
		<set-payload value="#[output application/json --- {  &quot;key&quot;: &quot;SomeKey&quot;,  &quot;value&quot;: &quot;SomeValue&quot; }]" doc:id="4ac050cd-3f71-4887-b39e-61616c29b91b" />
		<bpm:processfactory processDefinitionKey="asd" doc:name="Processfactory" doc:id="ac1cae9b-174a-418e-bc97-cb20d4c9d64b" />
    </flow>
</mule>
