test-mule-app/src/main/mule/mule4-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
	xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
	http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

	<flow name="mightMuleTaskFlow">
		<bpm:listener doc:name="Listener"
			doc:id="90bb2825-efa0-48e7-8c9a-b0c8ddb71f08" queueName="vm://mighty.queue" />
		<logger level="INFO" message="#[payload]" />

		<set-payload value="true" />
	</flow>

</mule>
