mule-bpm-connector/src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <flow name="bpmListenerSuccessTestFlow">
        <bpm:listener queueName="some.success.test.queue" />
        <logger level="INFO" message="#[payload]" />
        <logger level="INFO" message="#[attributes]" />
        <set-payload value="asd" />
    </flow>

    <flow name="bpmListenerErrorTestFlow">
        <bpm:listener queueName="some.error.test.queue" />
        <set-payload value="BEFORE_ERROR" />
		<raise-error type="ANY" description="THIS IS SOME TEST ERROR" />
    </flow>

</mule>
