mule-bpm-connector/src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">
    
    <flow name="bpmListenerSuccessTestFlow">
        <bpm:listener queueName="some.success.test.queue" />
        <logger level="INFO" message="#[payload]" />
        <logger level="INFO" message="#[attributes]" />
        <set-payload value="SUCCESS" />
    </flow>

    <flow name="bpmListenerErrorTestFlow">
        <bpm:listener queueName="some.error.test.queue" />
        <set-payload value="BEFORE_ERROR" />
		<raise-error type="ANY" description="SOME_TEST_ERROR" />
        <error-handler>
            <on-error-propagate>
                <set-payload value="#[error.description]" />
            </on-error-propagate>
        </error-handler>
    </flow>
    
	<flow name="bpmListenerTestFlow">
		<bpm:listener queueName="test.queue" />
		<logger level="INFO" message="#[payload]" />

		<set-payload value="true" />
	</flow>

    <flow name="bpmStartProcessTestFlow">
        <bpm:processfactory processDefinitionKey="testProcess" tenantId="com.alfame.esb" />
        <set-payload value="TEST" />
    </flow>

</mule>
