mule-bpm-connector/src/test/resources/test-mule-config.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd">

    <bpm:config name="config" configId="configId">
        <bpm:connection requiredParameter="aValue" />
    </bpm:config>

    <flow name="sayHiFlow">
        <bpm:say-hi person="Mariano Gonzalez"/>
    </flow>

    <flow name="retrieveInfoFlow">
        <bpm:retrieve-info config-ref="config"/>
    </flow>

    <flow name="bpmListenerTestFlow">
        <bpm:listener queueName="some.test.queue" />
        <logger level="INFO" message="#[payload]" />
        <logger level="INFO" message="#[attributes]" />
        <set-payload value="asd" />
    </flow>

</mule>
