examples/active-aggregator-example/src/main/mule/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
      xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
			http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
			http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd
			http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd">

    <configuration-properties
            file="mule-artifact.properties"/>
    <bpm:config name="BPM_Config" doc:name="BPM Config"
                doc:id="69a5b251-f382-4521-80ce-6161ba2ca84b"
                defaultTenantId="com.alfame.esb.bpm.examples">
        <bpm:definitions>
            <bpm:classpath-definition resourceClasspath="processes/invoiceRetriever.bpmn20.xml"/>
            <bpm:classpath-definition resourceClasspath="processes/paymentRetriever.bpmn20.xml"/>
            <bpm:classpath-definition resourceClasspath="processes/transactionFiler.bpmn20.xml"/>
        </bpm:definitions>
    </bpm:config>
    <sftp:config name="Invoice_SFTP_Config" doc:name="Invoice SFTP Config"
                 doc:id="e7f31a7a-e791-4548-a8d5-6ad25e668ac0">
        <sftp:connection workingDir="${invoice.sftp.path}" host="${invoice.sftp.host}" port="${invoice.sftp.port}"
                         username="${invoice.sftp.user}" password="${invoice.sftp.password}"/>
    </sftp:config>
    <sftp:config name="Payment_SFTP_Config" doc:name="Payment SFTP Config"
                 doc:id="884c176c-de9d-44cc-8ef2-ab0958f4951c">
        <sftp:connection workingDir="${payment.sftp.path}" host="${payment.sftp.host}" port="${payment.sftp.port}"
                         username="${payment.sftp.user}" password="${payment.sftp.password}"/>
    </sftp:config>
    <flow name="retrieveInvoicesTaskFlow" doc:id="88668ff9-6faf-4e8b-a765-c04b8919e024">
        <bpm:task-listener config-ref="BPM_Config" doc:name="Task listener"
                           doc:id="e867459a-7f86-4402-a8a9-6122d241ff51" endpointUrl="bpm://retrieve.invoices"/>
        <sftp:list config-ref="Invoice_SFTP_Config" doc:name="List" doc:id="890fab6d-f30f-4290-af92-626a5e8693dd"
                   directoryPath="/">
            <sftp:matcher
                    filenamePattern="invoice_*.xml"/>
        </sftp:list>
        <foreach doc:name="For Each" doc:id="8b0d5af4-9ae3-43e2-9364-8cabace4762c">
            <logger level="INFO" doc:name="Logger" doc:id="4f273a01-1c67-4b6f-8222-041d8b7ecb37"/>
            <set-payload
                    value='#[%dw 2.0
output application/java
---
write(payload, "application/xml")]'
                    doc:name="Set Payload" doc:id="8d69b4ab-de01-4f9e-b87f-5bdbbb71a7f1"/>
            <bpm:process-factory doc:name="Process factory" doc:id="137276d6-7e7a-432d-8490-4250f2976521"
                                 config-ref="BPM_Config" processDefinitionKey="transactionFiler"
                                 uniqueBusinessKey="#[%dw 2.0 var invoice = read(payload, 'application/xml') output application/java --- invoice.invoice.transactionId]"
                                 tenantId="com.alfame.esb.bpm.examples" returnCollidedInstance="true"
                                 target="transactionProcess"/>
            <bpm:create-attachment processInstanceId="#[vars.transactionProcess.processInstanceId]"
                                   attachmentName="invoice" type="application/xml" config-ref="BPM_Config"
                                   target="invoiceAttachment">
                <bpm:attachment-content>#[payload]</bpm:attachment-content>
            </bpm:create-attachment>
            <until-successful maxRetries="5" doc:name="Until Successful" doc:id="596dd623-ed95-47a5-83a0-ffe8d0d2727a"
                              millisBetweenRetries="100">
                <bpm:trigger-signal signalName="receiveInvoice"
                                    processInstanceId="#[vars.transactionProcess.processInstanceId]"
                                    doc:name="Trigger signal" doc:id="24ea8f10-9dd6-43e2-8fca-cc6ad887a935"
                                    config-ref="BPM_Config"/>
            </until-successful>
            <sftp:delete doc:name="Delete" doc:id="b5ef666b-aadc-4c4f-b3c8-a2824e9549be"
                         config-ref="Invoice_SFTP_Config" path="#[attributes.path]"/>
        </foreach>
    </flow>
    <flow name="retrievePaymentsTaskFlow" doc:id="13ede409-2fa9-456c-8b82-4201218ec0c8">
        <bpm:task-listener config-ref="BPM_Config" doc:name="Task listener"
                           doc:id="3a3fa24f-77b7-4b19-9bf6-22bf769a7771" endpointUrl="bpm://retrieve.payments"/>
        <sftp:list config-ref="Payment_SFTP_Config" doc:name="List" doc:id="061ee33a-eb78-4939-8ed6-f0c0cfe253c0"
                   directoryPath="/">
            <sftp:matcher
                    filenamePattern="payment_*.json"/>
        </sftp:list>
        <foreach doc:name="For Each" doc:id="04eb799c-e8fa-41af-bae6-3b0c7e6ef834">
            <logger level="INFO" doc:name="Logger" doc:id="a6f58258-7a47-4364-ba00-78194431a15b"/>
            <set-payload
                    value='#[%dw 2.0
output application/java
---
write(payload, "application/json")]'
                    doc:name="Set Payload" doc:id="b80be76f-10e6-4e3b-99cf-69b469592696"/>
            <bpm:process-factory doc:name="Process factory" doc:id="90f1d63f-ed43-4870-aa69-ed47bf304af9"
                                 config-ref="BPM_Config" processDefinitionKey="transactionFiler"
                                 uniqueBusinessKey="#[%dw 2.0 var payment = read(payload, 'application/json') output application/java --- payment.transactionId]"
                                 tenantId="com.alfame.esb.bpm.examples" returnCollidedInstance="true"
                                 target="transactionProcess"/>
            <bpm:create-attachment processInstanceId="#[vars.transactionProcess.processInstanceId]"
                                   attachmentName="payment" type="application/json" config-ref="BPM_Config"
                                   target="paymentAttachment">
                <bpm:attachment-content>#[payload]</bpm:attachment-content>
            </bpm:create-attachment>
            <until-successful maxRetries="5" doc:name="Until Successful" doc:id="2b2f0787-b10c-4974-b492-144e370f636c"
                              millisBetweenRetries="100">
                <bpm:trigger-signal signalName="receivePayment"
                                    processInstanceId="#[vars.transactionProcess.processInstanceId]"
                                    doc:name="Trigger signal" doc:id="790ada30-3341-4f8a-b3da-e8f3028a81c0"
                                    config-ref="BPM_Config"/>
            </until-successful>
            <sftp:delete doc:name="Delete" doc:id="b4575413-5ad9-4d82-a598-c848c9eb0fae"
                         config-ref="Payment_SFTP_Config" path="#[attributes.path]"/>
        </foreach>
    </flow>
    <flow name="fileTransactionTaskFlow" doc:id="695f0d5b-a31e-4802-a427-9b387a6ca1c1">
        <bpm:task-listener config-ref="BPM_Config" doc:name="Task listener"
                           doc:id="7b4ce3b7-b0b2-4958-b6d4-1a1d6fe3041c" endpointUrl="bpm://file.transaction"
                           transactionalAction="ALWAYS_BEGIN"/>
        <logger level="INFO" doc:name="Logger" doc:id="38f4cdab-37d3-4328-8a15-29bea90d89d4"/>
        <bpm:get-latest-attachment doc:name="Get latest invoice attachment"
                                   doc:id="28088d4f-fb5b-4ebe-b5e2-dfce8fc6a5ee"
                                   config-ref="BPM_Config" processInstanceId="#[attributes.processInstanceId]"
                                   target="invoice">
            <bpm:attachment-filters>
                <bpm:attachment-name-filter attachmentName="invoice"/>
            </bpm:attachment-filters>
        </bpm:get-latest-attachment>
        <bpm:get-latest-attachment doc:name="Get latest payment attachment"
                                   doc:id="5b790309-4917-48bc-92ae-e5cf7baee054"
                                   config-ref="BPM_Config" processInstanceId="#[attributes.processInstanceId]"
                                   target="payment">
            <bpm:attachment-filters>
                <bpm:attachment-name-filter attachmentName="payment"/>
            </bpm:attachment-filters>
        </bpm:get-latest-attachment>
        <set-payload value='#[%dw 2.0
var invoice = read(vars.invoice, "application/xml")
var payment = read(vars.payment, "application/json")

output application/xml
---
transaction : {
	transactionId: payment.transactionId,
	payee: invoice.invoice.payee,
	payer: payment.payer,
	amount: payment.amount
}]' doc:name="Set Payload" doc:id="1b2925d3-6873-45be-93d5-d408d8fabb65"/>
        <logger level="INFO" doc:name="Logger" doc:id="5aa174da-8fdc-4ef1-a620-c4ccd2d35a9a" message="#[payload]"/>
    </flow>
</mule>
