mule-test-app/src/main/mule/mule4-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring"
	xmlns:bpm="http://www.mulesoft.org/schema/mule/bpm"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/bpm http://www.mulesoft.org/schema/mule/bpm/current/mule-bpm.xsd
	http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

	<spring:config name="Spring_Config" doc:name="Spring Config" doc:id="15776ef2-5727-438d-ad8b-8c4f09d9097d" files="beans.xml" />
	
	<bpm:config name="BPM_Config" doc:name="BPM Config" doc:id="33199c6b-10fe-412f-82bb-bd509da767a7" defaultTenantId="com.alfame.esb">
		<bpm:task-listener-connection />
		<bpm:default-data-source >
			<bpm:data-source-reference type="postgres" dataSourceRef="bpmDataSource"  />
		</bpm:default-data-source>
		<bpm:definitions>
			<bpm:classpath-definition resourceClasspath="processes/TestProcess.bpmn20.xml" />
			<bpm:classpath-definition resourceClasspath="processes/OtherTestProcess.bpmn20.xml" />
		</bpm:definitions>
		<bpm:default-async-executor />
	</bpm:config>
	
	<flow name="mightMuleTaskFlow">
		<bpm:task-listener doc:name="Task Listener"
			doc:id="90bb2825-efa0-48e7-8c9a-b0c8ddb71f08" 
			endpointUrl="bpm://test.task"
			config-ref="BPM_Config"
			transactionType="LOCAL"
			transactionalAction="ALWAYS_BEGIN">
			<bpm:response >
				<bpm:value ><![CDATA[#[vars.result]]]></bpm:value>
			</bpm:response>
			<bpm:error-response >
				<bpm:value ><![CDATA[#[false]]]></bpm:value>
			</bpm:error-response>
		</bpm:task-listener>
		
		<logger level="INFO" message="#[attributes.processInstanceId]" doc:id="13bd9b52-211b-49a8-a5a5-a9a6259d0482"/>
		
		<java:invoke doc:name="Invoke" doc:id="96ac1de6-9f5b-43e6-aeb9-66fe0621c93d" 
			class="com.alfame.esb.test.TestComponent" instance="testComponent" method="startProcessInstance()"/>
		<logger level="INFO" message="#[payload.processInstanceId]" />
		
		<bpm:set-variable variableName="test" config-ref="BPM_Config" transactionalAction="ALWAYS_JOIN">
			<bpm:content>test content</bpm:content>
		</bpm:set-variable>

		<set-variable value="true" variableName="result" />
	</flow>

	<flow name="mightierMuleTaskFlow">
		<bpm:task-listener doc:name="Task Listener"
			doc:id="1f2579ec-ac9e-4fba-81d4-002eb4e849b1" 
			endpointUrl="bpm://other.test.task" 
			config-ref="BPM_Config"
			transactionType="LOCAL"
			transactionalAction="ALWAYS_BEGIN">
		</bpm:task-listener>
		<logger level="INFO" message="#[attributes.id]" />

		<java:invoke doc:name="Invoke" doc:id="1e0c7968-aa1d-42f2-a67b-95372ddf26e4" 
			class="com.alfame.esb.bpm.api.BPMEngine" 
			instance="bpmEngine" 
			method="getVariableInstance( String, String )" 
			target="bpmVariableInstance">
			<java:args>#[ {
				arg0: attributes.id,
				arg1: 'test'
			} ]</java:args>
		</java:invoke>
		<logger level="INFO" message="#[vars.bpmVariableInstance]" />
		
		<bpm:get-variable variableName="test" config-ref="BPM_Config" transactionalAction="ALWAYS_JOIN" />
		<logger level="INFO" message="#[payload]" />
		
		<bpm:remove-variable variableName="test" config-ref="BPM_Config" transactionalAction="ALWAYS_JOIN" />
		
		<set-payload value="true" />
	</flow>

</mule>
